{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>

</head>
<body class="bg-slate-50">
    <nav class="bg-slate-50 py-2">
        <div class="flex items-center justify-between mx-auto px-4">
          <!-- Logo and Primary Nav items -->
          <div class="flex items-center">
            <a href="{% url 'homepage' %}" class="flex items-center">
              <img src="{% static 'classmate.png' %}" alt="logo" class="h-10 mr-4"> <!-- Adjust right margin as needed -->
            </a>
            <div class="hidden md:flex items-center space-x-4">
              <a href="{% url 'homepage' %}#footer" class="py-5 px-3 text-gray-700 hover:text-gray-900">FAQ</a>
              <a href="{% url 'homepage' %}#footer" class="px-3 text-gray-700 hover:text-gray-900">Contact</a>            
              <!-- Logout link if user is logged in -->
              {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}" class="py-5 px-3 text-gray-700 hover:text-gray-900">Logout</a>
              {% endif %}

            </div>
          </div>
            
          <!-- Secondary Navbar items -->
          <div class="flex items-center space-x-4">
            <a href="{% url 'login' %}" class="py-2 px-3 text-gray-700 hover:text-gray-900">Login</a>
            <a href="{% url 'signup' %}" class="py-2 px-3 bg-purple-400 text-purple-900 rounded hover:bg-purple-500 transition duration-300">Start for Free</a>
          </div>
        </div>
      </nav>

    <!-- CSRF token added to header for htmx requests -->
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% block content %}
        {% endblock %}
</body>
</html>