{% extends "base.html" %}
{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="max-w-md mx-auto my-10 bg-gray-100 p-8 border border-black-400 rounded-lg shadow-sm">    
    <h2 class="text-5xl font-semibold text-purple-400 text-center">Logout</h2>
    <form method="POST" class="mt-6">

        {% csrf_token %}

        <p class="text-base text-center">Are you sure?</p>

        <button type="submit" class="w-full mt-6 bg-purple-400 text-center text-purple-900 py-2 px-4 rounded hover:bg-purple-500 focus:outline-none focus:bg-purple-500 transition duration-300">Logout</button>

    </form>
</div>

{% else %}

    <p class="text-base text-center">Not logged in? Click the top "Login" link above to log back in or "Start for Free" to sign up</p>

{% endif %}

{% endblock %}