{% extends 'forum/forums.html' %}
{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<p>Posted by {{ post.posted_by.get_full_name }} on {{ post.timestamp }}</p>
<h2>Replies</h2>
<ul>
    {% for reply in post.replies.all %}
    <li>{{ reply.content }} - {{ reply.posted_by.get_full_name }} on {{ reply.timestamp }}</li>
    {% endfor %}
</ul>
<h2>Reply to this post</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reply</button>
</form>
{% endblock %}
