{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body class="flex flex-col md:flex-row">

    <!-- toggle for mobile -->
    <button id="sidebarToggle" class="text-white bg-zinc-800 p-4 z-50 relative md:hidden">
        <i class="fas fa-bars"></i>
    </button>

    <!-- sidebar/mobile top nav -->
    {% include 'partials/sidebar.html' %}

    <!-- Main Content -->
    <main class="flex-1 overflow-auto md:m-10 lg:ml-60">
        <div class="bg-slate-100 p-5 rounded-md space-y-4 m-2">
            <!-- ACCOUNT DETAILS -->
            <h1 class="text-2xl font-bold pb-2 border-b">Account Details</h1>

            <form id="account-details-form" class="flex flex-col justify-between">

                {% csrf_token %}  
                <div id="student-info">
                    <!-- Pulls the students info from the other HTML -->
                    {% include 'partials/student-details.html' %}
                </div>
            </form>

             <!-- Course Info -->
             <h1 class="text-2xl font-bold pb-2 border-b">Courses:</h1>
             {% include 'partials/student-courses.html' %}
        </div>
    </main>

    <script>
        // Toggle Sidebar/Topbar for Smaller Screens
        document.getElementById('sidebarToggle').addEventListener('click', function() {
            const sidebar = document.getElementById('sidebar');
            if (sidebar.classList.contains('-translate-y-full')) {
                sidebar.classList.remove('-translate-y-full');
                sidebar.classList.add('translate-y-0');
            } else {
                sidebar.classList.add('-translate-y-full');
                sidebar.classList.remove('translate-y-0');
            }
        });

         // JavaScript for toggling edit mode
         document.getElementById('edit-update-btn').addEventListener('click', function(event) {
        event.preventDefault();  // Prevent the form from submitting
        var inputs = document.querySelectorAll('#account-details-form input');
        
            inputs.forEach(function(input) {
                if (input.hasAttribute('readonly')) {
                    input.removeAttribute('readonly');
                } else {
                    input.setAttribute('readonly', true);
                }
            });
        });

        document.getElementById('courses-btn').onclick = function() {
            var submenu = document.getElementById('courses-submenu');
            submenu.style.display = submenu.style.display === 'none' ? 'flex' : 'none';
        };

        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
        
        document.body.addEventListener('htmx:configRequest', function(evt) {
            evt.detail.parameters['auth_token'] = getAuthToken(); // add a new parameter into the mix
        });

        document.addEventListener('DOMContentLoaded', function () {
            const hamburger = document.getElementById('hamburgerBtn');
            const sidebar = document.querySelector('.sidebar');

            hamburger.addEventListener('click', function () {
                sidebar.classList.toggle('-translate-x-full');
            });
        });
    </script>
</body>
</html>
