{% load widget_tweaks %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Assignment</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="flex flex-col md:flex-row bg-slate-50">

    <!-- toggle for mobile -->
    <button id="sidebarToggle" class="text-white bg-zinc-800 p-4 z-50 relative md:hidden">
        <i class="fas fa-bars"></i>
    </button>

    <!-- sidebar/mobile top nav -->
    {% include 'partials/sidebar.html' %}

    <!-- assignment info -->
    <div class="lg:ml-52 flex justify-center items-center w-full flex-col ">
        <h2 class="text-2xl font-bold">Add Assignment</h2>
        {% include 'partials/assignment.html' %}
    </div>

    <script>
        // Toggle Sidebar/Topbar for Smaller Screens
        document.getElementById('sidebarToggle').addEventListener('click', function() {
            const sidebar = document.getElementById('sidebar');
            if (sidebar.classList.contains('-translate-y-full')) {
                sidebar.classList.remove('-translate-y-full');
                sidebar.classList.add('translate-y-0');
            } else {
                sidebar.classList.add('-translate-y-full');
                sidebar.classList.remove('translate-y-0');
            }
        });
    </script>
</body>
</html>