{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        body {
            display: flex;
            margin: 0;
            font-family: Arial, sans-serif;
            height: 100vh;
            overflow: hidden;
        }
        
        .dashboard-container {
            margin-left: 208px;
            width: calc(100% - 250px);
            padding: 20px;
            overflow: auto;
            height: 100vh;
        }
        .day-container {
            margin-bottom: 20px;
        }
        .assignments-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .assignment-card {
            border: 1px solid #a78bfa; /* purple */
            border-radius: 8px;
            padding: 10px;
            background-color: white;
        }
        .card-header {
            color: white;
            font-weight: bold;
            padding: 5px 10px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .no-assignments {
            text-align: center;
            color: #4b5563; /* dark grey */
            padding: 10px;
        }
    </style>
    
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col md:flex-row bg-slate-50">

    <!-- Toggle Button for Smaller Screens -->
    <button id="sidebarToggle" class="text-white bg-zinc-800 p-4 z-50 relative md:hidden">
        <i class="fas fa-bars"></i>
    </button>
    <!-- Sidebar/Topbar -->
    <div id="sidebar" class="bg-zinc-800 text-white w-full md:w-52 h-screen md:h-auto fixed md:inset-y-0 top-0 left-0 z-40 transform -translate-y-full md:translate-y-0 md:translate-x-0 transition-transform">
        <div>
            <div class="p-4 flex justify-center items-center">
                <a href="{% url 'homepage' %}">
                    <img src="{% static 'classmate.png' %}" alt="Logo" class="h-10">
                </a>
            </div>
            
            <!-- Navigation Links -->
            <div class="flex-1 space-y-2 py-4 flex flex-col justify-center">

                <!-- Home -->
                <a href="{% url 'dashboard:dashboard' %}" class="flex items-center space-x-2 px-4 py-3 rounded-md hover:bg-zinc-700">
                    <i class="fas fa-home"></i>
                    <span>Dashboard</span>
                </a>

                <!-- Courses with submenu -->
                <div class="group">
                    <a href="javascript:void(0);" id="courses-btn" class="flex items-center space-x-2 px-4 py-3 rounded-md hover:bg-zinc-700">
                        <i class="fas fa-book"></i>
                        <span>Courses</span>
                    </a>
                    <div id="courses-submenu" class="hidden group-hover:block bg-zinc-700">
                        <div class="pt-2">
                            <!-- Dynamically populate course links here -->
                            {% for course in user_courses %}
                            <a href="{% url 'dashboard:course_dashboard' course.id %}" class="block px-4 py-2 text-sm hover:bg-zinc-600">{{ course.course_name }}</a>
                            {% endfor %}
                            <a href="{% url 'dashboard:add_course_page' %}" class="block px-4 py-2 text-sm hover:bg-zinc-600">Add Course</a>

                        </div>
                    </div>
                </div>

                <!-- Add Assignment -->
                <a href="{% url 'dashboard:add_assignment' %}" class="flex items-center space-x-2 px-4 py-3 rounded-md hover:bg-zinc-600">
                    <i class="fas fa-tasks"></i>
                    <span>Add Assignment</span>
                </a>

                <!-- Forum -->  
                <a href="{% url 'forum:courseList' %}" class="flex items-center space-x-2 px-4 py-3 rounded-md hover:bg-zinc-700">
                    <i class="fas fa-comments"></i>
                    <span>Forum</span>
                </a>

                <!-- Planner -->
                <a href="{% url 'planner:user_calendar' %}" class="flex items-center space-x-2 px-4 py-3 rounded-md hover:bg-zinc-700">
                    <i class="fas fa-calendar-alt"></i>
                    <span>Planner</span>
                </a>
            </div>
        </div>
        
        <!-- Profile Sticky to -->
        <div class="pb-4 flex flex-row">
            <div>
                <a href="{% url 'user:viewProfile' %}" class="flex items-center space-x-2 px-4 py-3 rounded-md hover:bg-zinc-700">
                    <i class="fas fa-user"></i>
                    <span>Profile</span>
                </a>
            </div>
            <div>
                <a href="{% url 'logout' %}" class="flex items-center space-x-2 px-4 py-3 rounded-md hover:bg-zinc-700">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </div>
        </div>
    </div>


    <main class="flex-1 overflow-auto md:m-10 lg:ml-60 sm:px-10 md:px-10">
        <main>
            {% for date, assignments in assignments_by_day %}
            <div class="day-container">
                <h3 class="card-header bg-purple-400">{{ date|date:"l F jS, Y" }}</h3>
                {% if assignments %}
                    <div class="assignments-container">
                        {% for assignment in assignments %}
                            <a href="{% url 'dashboard:edit_assignment' assignment.id %}">
                                <div class="assignment-card">
                                    <div class="card-body">
                                        <p>{{ assignment.course.course_name }} - {{ assignment.title }}</p>
                                        <p>Due: {{ assignment.due_date|date:"F jS, Y" }}</p>
                                        <p>Points: {{ assignment.priority }}</p>
                                        <!-- Other details can be added here -->
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="no-assignments">No assignments</div>
                {% endif %}
            </div>
            {% endfor %}
        </main>
    </div>
    
    <script>
    document.getElementById('courses-btn').onclick = function() {
            var submenu = document.getElementById('courses-submenu');
            submenu.style.display = submenu.style.display === 'none' ? 'flex' : 'none';
    };

    // Toggle Sidebar/Topbar for Smaller Screens
    document.getElementById('sidebarToggle').addEventListener('click', function() {
            const sidebar = document.getElementById('sidebar');
            if (sidebar.classList.contains('-translate-y-full')) {
                sidebar.classList.remove('-translate-y-full');
                sidebar.classList.add('translate-y-0');
            } else {
                sidebar.classList.add('-translate-y-full');
                sidebar.classList.remove('translate-y-0');
            }
        });
    </script>


    <script type="text/javascript">
        function toggleModal(modalID){
          document.getElementById(modalID).classList.toggle("hidden");
          document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
          document.getElementById(modalID).classList.toggle("flex");
          document.getElementById(modalID + "-backdrop").classList.toggle("flex");
        }
      </script>
</body>
</html>