{% load widget_tweaks %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Assignment</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body class="flex flex-col md:flex-row bg-slate-50">

    <!-- toggle for mobile -->
    <button id="sidebarToggle" class="text-white bg-zinc-800 p-4 z-50 relative md:hidden">
        <i class="fas fa-bars"></i>
    </button>

    <!-- sidebar/mobile top nav -->
    {% include 'partials/sidebar.html' %}

    <!-- assignment info -->
    <div class="lg:ml-52 flex justify-center items-center w-full flex-col ">
        <h2 class="text-2xl font-bold">Edit Assignment</h2>
        <div class="p-5 flex flex-col justify-center items-center ">
            <form method="POST" class="mt-6 bg-slate-100 rounded-md p-5 m-10 w-full">
                {% csrf_token %}
        
                <div class="flex space-x-3 w-full">
                    <div class="mb-4 w-full">
                        <label for="id_course" class="block text-sm font-medium text-gray-700">Course</label>
                        {{ form.course|add_class:"mt-2 mb-2 py-4 px-6 bg-white rounded-xl w-full" }}
                    </div>
        
                    <div class="mb-4 w-1/2">
                        <label for="id_title" class="block text-sm font-medium text-gray-700">Title</label>
                        {{ form.title|add_class:"mt-2 mb-2 py-4 px-6 bg-white rounded-xl w-full" }}
                    </div>
                </div>
        
                <div class="mb-4 flex flex-col w-full">
                    <label for="id_description" class="block text-sm font-medium text-gray-700">Description</label>
                    {{ form.description|add_class:"mt-2 mb-2 py-4 px-6 bg-white rounded-xl w-full" }}
                </div>
        
                <div class="mb-4 w-full">
                    <label for="id_students" class="block text-sm font-medium text-gray-700">Group Members</label>
                    {{ form.student_username|add_class:"mt-2 mb-2 py-4 px-6 bg-white rounded-xl w-full" }}
                </div>
                
                <div class="mb-4 w-full">
                    <label for="id_due_date" class="block text-sm font-medium text-gray-700">Due</label>
                    <span class="flex flex-row space-x-2 w-full">
                        {{ form.due_date|add_class:"w-full mt-2 mb-2 py-4 px-6 bg-white rounded-xl date-picker" }}
                    </span>
                </div>
        
                <div class="mb-4 w-full">
                    <label for="id_priority" class="block text-sm font-medium text-gray-700">Priority (1-5)</label>
                    {{ form.priority|add_class:"w-full mt-2 mb-2 py-4 px-6 bg-white rounded-xl" }}
                </div>
        
                <button type="submit" class="w-full mt-6 bg-purple-400 text-center text-purple-900 py-2 px-4 rounded hover:bg-purple-500 focus:outline-none focus:bg-purple-500 transition duration-300">Submit</button>
            </form>
            <form 
                method="post" 
                action="{% url 'dashboard:delete_assignment' assignment.id %}"
                class="w-full bg-slate-100 rounded-md px-4 pb-2 -mt-16">
                    {% csrf_token %}
                <button type="submit" class="w-full mt-4 bg-purple-400 text-center text-purple-900 py-1 px-4 rounded hover:bg-purple-500 focus:outline-none focus:bg-purple-500 transition duration-300">Delete</button>
            </form>
        </div>
    </div>
    
    
    <script>
        // Toggle Sidebar/Topbar for Smaller Screens
        document.getElementById('sidebarToggle').addEventListener('click', function() {
            const sidebar = document.getElementById('sidebar');
            if (sidebar.classList.contains('-translate-y-full')) {
                sidebar.classList.remove('-translate-y-full');
                sidebar.classList.add('translate-y-0');
            } else {
                sidebar.classList.add('-translate-y-full');
                sidebar.classList.remove('translate-y-0');
            }
        });
    </script>
</body>
</html>