<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="flex justify-center flex-col items-center min-h-screen bg-white">

        <!-- sidebar/mobile top nav -->
        {% include 'partials/sidebar.html' %}


        <h2 class="lg:ml-56 font-bold text-2xl mt-9">Course Information</h2>

        <div class="flex flex-col lg:flex-row overflow-auto mx-auto bg-slate-100 px-20 py-10 md:m-10 lg:ml-60 rounded-lg">
            
            <!-- Course Information Column -->
            <div class="w-full lg:w-1/2 p-4">
              <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <h2 class="bg-gray-200 text-gray-700 text-lg font-bold px-6 py-4">Details</h2>
                <div class="px-6 py-4">
                  <p class="border-b border-gray-200 py-2"><strong>Name:</strong> {{ course.course_name }}</p>
                  <p class="border-b border-gray-200 py-2"><strong>Professor:</strong> {{ course.professor }}</p>
                  <p class="border-b border-gray-200 py-2"><strong>Department:</strong> {{ course.department }}</p>
                  <p class="border-b border-gray-200 py-2"><strong>Credit Hours:</strong> {{ course.credit_hours }}</p>
                  <p class="py-2"><strong>CRN:</strong> {{ course.crn }}</p>
                </div>
                <form action="{% url 'dashboard:add_course' course.id %}" method="post" class="px-6 py-4">
                  {% csrf_token %}
                  <button type="submit" class="bg-purple-400 text-white font-bold py-2 px-4 rounded hover:bg-purple-500 transition duration-300 cursor-pointer">Add Course</button>
                </form>
              </div>
            </div>
            
            <!-- Students Column -->
            <div class="w-full lg:w-1/2 p-4">
              <div class="bg-white shadow rounded-lg overflow-hidden">
                <h2 class="bg-gray-200 text-gray-700 text-lg font-bold px-6 py-4">Students</h2>
                <div class="px-6 py-4">
                  {% for student in students %}
                    <p class="border-b border-gray-200 py-2">{{ student.full_name }}</p>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          
        
            
        
        
    </body>
    </html>